# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Keep provider lock file (recommended)
# (so DON'T ignore it)
# .terraform.lock.hcl

# tfvars (secrets)
*.tfvars
*.tfvars.json
terraform.tfvars
terraform.tfvars.json
terraform/terraform.tfvars
sourcedata/
Docker/spark/.env
# Spark / data files
Docker/spark/data/* 
!Docker/spark/data/.gitkeep
# Local Spark data
spark/data/*
data/*
!data/.gitkeep
# snowflake objects
/workspaces/Urbanflow/snowflake_objects/ingestion_setup.sql